@media only screen and (max-width: 609px) {
	#content {
		width: 85%;
		margin: auto;
	}
}

@media only screen and (min-width: 610px) {
	#content {
		width: 582px;
		margin: auto;
		/*border: 1px solid red;*/
	}
}

.left-column {
	float: left;
	width: 49%;
}

.right-column {
	float: left;
	width: 49%;
}
