@font-face {
	font-family: 'StixGeneral-Regular';
	src: url('fonts/StixGeneral-Regular.eot');
	src: url('fonts/StixGeneral-Regular-.eot#iefix') format('embedded-opentype'),
		 url('fonts/StixGeneral-Regular.woff') format('woff'),
		 url('fonts/StixGeneral-Regular.ttf') format('truetype'),
		 url('fonts/StixGeneral-Regular.svg.html#StixGeneral-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.stix {
	font-family: "StixGeneral-Regular", sans-serif;
}
