/* The follow copyright notice applies to SofiaProLight, SofiaProLightItalic,
 * SofiaProSemiBold, and SofiaProBlack.
 *
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed. Fully
 * installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License
 * you purchased from Fontspring. The fonts are protected under domestic and
 * international trademark and copyright law. You are prohibited from
 * modifying, reverse engineering, duplicating, or distributing this font
 * software.
 *
 * (c) 2010-2012 Fontspring
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Mostardesign License URL:
 * http://www.fontspring.com/fflicense/mostardesign
 */
@font-face {
	font-family: 'SofiaProLight';
	src: url('fonts/SofiaProLight.eot');
	src: url('fonts/SofiaProLight-.eot#iefix') format('embedded-opentype'),
		 url('fonts/SofiaProLight.woff') format('woff'),
		 url('fonts/SofiaProLight.ttf') format('truetype'),
		 url('fonts/SofiaProLight.svg.html#SofiaProLight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SofiaProLightItalic';
	src: url('fonts/SofiaProLightIt.eot');
	src: url('fonts/SofiaProLightIt-.eot#iefix') format('embedded-opentype'),
		 url('fonts/SofiaProLightIt.woff') format('woff'),
		 url('fonts/SofiaProLightIt.ttf') format('truetype'),
		 url('fonts/SofiaProLightIt.svg.html#SofiaProLightIt') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SofiaProSemiBold';
	src: url('fonts/SofiaProSemiBold.eot');
	src: url('fonts/SofiaProSemiBold-.eot#iefix') format('embedded-opentype'),
		 url('fonts/SofiaProSemiBold.woff') format('woff'),
		 url('fonts/SofiaProSemiBold.ttf') format('truetype'),
		 url('fonts/SofiaProSemiBold.svg.html#SofiaProSemiBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SofiaProBlack';
	src: url('fonts/SofiaProBlack.eot');
	src: url('fonts/SofiaProBlack-.eot#iefix') format('embedded-opentype'),
		 url('fonts/SofiaProBlack.woff') format('woff'),
		 url('fonts/SofiaProBlack.ttf') format('truetype'),
		 url('fonts/SofiaProBlack.svg.html#SofiaProBlack') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*
RysLatinModernMono is a font face derived from Latin Modern, originally
produced by GUST (http://www.gust.org.pl/projects/e-foundry/latin-modern) and
released under the GUST Font License. The full license text can be found in
fonts/GUSTFontLicense.txt.
*/
@font-face {
	font-family: 'RysLatinModernMono';
	src: url('fonts/RysLatinModernMono.eot');
	src: url('fonts/RysLatinModernMono-.eot#iefix') format('embedded-opentype'),
		 url('fonts/RysLatinModernMono.woff') format('woff'),
		 url('fonts/RysLatinModernMono.ttf') format('truetype'),
		 url('fonts/RysLatinModernMono.svg.html#RysLatinModernMono') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
article, section, nav, header, footer, figure, figcaption {
  display: block;
}
body {
  	font-family: "SofiaProLight", sans-serif;
	font-size: 18px;
	background-color: #fbfbfc;
	line-height: 1.3em;
}
em {
  	font-family: "SofiaProLightItalic", sans-serif;
	font-style: normal;
}
strong {
  	font-family: "SofiaProSemiBold", sans-serif;
	font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'SofiaProBlack', 'Arial Black', 'Gadget', sans-serif;
  font-weight: normal;
  margin-left: -1px;
  line-height: 1.1em;
}
h1 {
  font-size: 48px;
  margin-bottom: 10px;
  padding-top: 36px;
}
h2 {
  font-size: 36px;
}
h2, h3 {
  margin-top: 1em;
  margin-bottom: .3em;
}
h3 {
  font-size: 24px;
}
p {
  margin-bottom: 1em;
}
a {
  color: #006bf0;
  text-decoration: none;
}
a:visited {
  color: #0050b4;
  text-decoration: none;
}
a:hover {
  color: #308cff;
  text-decoration: underline;
}
a img {
  border: none;
}
nav h1 {
  display: none;
}
pre, code {
	font-family: "RysLatinModernMono", serif;
}
pre {
  font-size: 15px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-top: .7em;
  padding-bottom: .7em;
  padding-left: 1em;
  border: 1px solid #ccc;
  overflow: auto;
  background-color: #f5f5f8;
}
ul, ol {
  margin-bottom: 1em;
  margin-left: 2em;
}
dl {
  margin-bottom: 1em;
}
dt {
  margin-top: .6em;
  margin-bottom: .1em;
}
dt:first-child {
  margin-top: .5em;
}
table {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: auto;
	margin-left: auto;
	overflow: auto;
}
th {
	text-align: left;
	padding-right: 1.3em;
	font-weight: normal;
	font-family: 'SofiaProSemiBold', 'Arial Black', 'Gadget', sans-serif;
}
td {
	padding-right: 1em;
}
td.center {
	text-align: center;
}
table.multiline th {
	padding-bottom: .3em;
}
table.multiline td {
	vertical-align: top;
	padding-bottom: .5em;
}
figure {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
figcaption {
  	font-family: "SofiaProLightItalic", sans-serif;
	font-style: normal;
	margin-top: .5em;
}
figcaption em {
  	font-family: "SofiaProLight", sans-serif;
	font-style: normal;
}
figure img {
  border: 1px solid #999;
  width: 95%; /* Images need a max-width inline style */
}
.no-figure-border figure {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: .5em;
	padding-bottom: 1em;
}
.no-figure-border figure img {
	border: none;
}
.screenshot-img {
  border: 1px solid #cfcfc1;
  width: 99%; /* Images need a max-width inline style */
}
#page {
 	margin: auto;
	background-color: #fbfbfc;
}
#content {
  margin-bottom: 2em;
}
#main-nav,
#main-nav a:link,
#main-nav a:visited,
#footer,
#footer a:link,
#footer a:visited {
	color: #eee;
}
#main-nav a:hover,
#footer a:hover {
	color: #ccc;
}
#main-nav li.selected a:link,
#main-nav li.selected a:visited {
  /*color: #006bf0;*/
	color: #808080;
}
#footer {
	clear: both;
	margin-top: 3em;
	background-color: #000;
	font-size: .8em;
}

/* Books only */
.preview-btn,
.purchase-btn {
	margin-top: -.7em;
	margin-bottom: .9em;
}
.preview-btn img,
.purchase-btn img {
	top: 9px;
	position: relative;
	margin-right: 7px;
}
.sequential-nav {
	float: right;
	color: #666;
}
/* End Books only */

ul.link-list {
	list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.link-list li {
  padding: 0 0 0 3px;
}
ul.link-list li.selected {
	list-style-type: disc;
	list-style-image: url('http://rypress.com/media/icons/list-bullet-arrow.png');
}
ul.selectable-toc {
	margin-left: -1px;
	margin-bottom: 1em;
}
.top-back-link {
	margin-top: 1.3em;
}
.top-back-link span {
	/* Left angle quote baseline shift */
	position: relative;
	bottom: .1em;
}
.top-sponsor-link {
	margin-top: 1.6em;
}
h1.back-heading {
	padding-top: 0;
}
.heading-paren {
	font-size: 18px;
  font-family: "SofiaProLight", sans-serif;
	color: #777;
}



.tutorial-listing {
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}

.tutorial-listing a {
	display: inline-block;
	text-align: center;
	margin: 0 1em 1em 1em;
	padding: .5em 0;
	width: 8em;
	border: 1px solid #d3d3d5;
}

.tutorial-listing a:hover {
	background-color: #f2f2f3;
	text-decoration: none;
}

.tutorial-listing a img {
	display: block;
	margin: 0 auto;
	width: 100px;
	height: 100px;
}

.tutorial-listing a span {
	display: block;
	margin: 0 auto .3em auto;
}



.tutorial-nav {
	margin-top: 1em;
	margin-bottom: 1em;
	border-top: 1px solid #e5e5e6;
}

.tutorial-nav img {
	width: 45px;
	height: 45px;
}

.tutorial-nav a {
	display: block;
	vertical-align: middle;
	padding-left: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
	border-bottom: 1px solid #e5e5e6;
	border-left: 1px solid #e5e5e6;
	border-right: 1px solid #e5e5e6;
}

.tutorial-nav a:hover {
	background-color: #f2f2f3;
	text-decoration: none;
}

.tutorial-nav a img {
	vertical-align: middle;
}

.tutorial-nav a span {
	vertical-align: middle;
	margin-left: .6em;
}


/* icon grid obsolete? */
.icon-grid {
	padding-left: .3em;
	margin: 0;
}
.icon-grid td {
	padding: .5em 0;
	vertical-align: top;
	/* Tutorial page width messed up */
	/*border: 1px solid red;*/
}
.icon-grid .icon {
	vertical-align: top;
}
.icon-grid .text {
	padding-left: 1em;
}


.apo { /* Apostrophe for headings */
	margin-right: -.1em;
}

.label-grid {
	margin: 0;
}
.label-grid .label {
	text-align: right;
	padding-left: 3px;
}

.icon-text img {
	float: left;
	margin-left: 1em;
	margin-right: 1em;
}
.icon-text {
	margin-bottom: 1.5em;
}
.icon-text p {
	float: left;
	width: 80%;
}
.download-icon-text p {
	line-height: 45px; /* Height of download icon */
}

.pubdate {
	color: #808080;
	font-size: .7em;
	margin-bottom: -1em;
}

.sponsor-blurb {
	border-top: 1px solid #e5e5e6;
	margin-top: 2em;
	margin-bottom: 2em;
	padding-top: 1em;
	/*padding-left: 1em;*/
}

@media only screen and (max-width: 609px) {
	#page {
  	min-width: 280px;
	}
	h1 {
		padding-top: 24px;
	}
	#main-nav {
		background-color: #000;
		padding: 0;
	}
	#main-nav ul {
		margin: 0;
		text-align: center;
	}
	#main-nav li {
		display: inline-block;
		width: 33%;
		border-right: 1px solid #999;
	}
	#main-nav li a {
		display: block;
		padding: .5em 0;
	}
	/* TEST THIS */
	#main-nav li:nth-child(1),
	#main-nav li:nth-child(2),
	#main-nav li:nth-child(3) {
		border-bottom: 1px solid #999;
	}
	#main-nav li:nth-child(4),
	#main-nav li:nth-child(5) {
		width: 49%;
	}
	#main-nav li:nth-child(3),
	#main-nav li:nth-child(5) {
		border-right: none;
	}
	#footer ul {
		padding: 1em 1em;
		list-style-type: none;
		margin: 0;
	}
	ul.link-list li {
		padding: .5em 0;
		/* Mobile needs more space */
	}
	.icon-text img {
		width: 15%;
	}
	.icon-text p {
		width: 65%;
	}
	.download-icon-text p {
		line-height: inherit;
	}
}

@media only screen and (min-width: 610px) {
	#main-nav {
		background-color: #000;
		padding: 1.3em 0;
	}
	#main-nav ul {
		margin: 0;
		text-align: center;
	}
	#main-nav li,
	#copyright li {
		display: inline;
		border-right: 1px solid #eee;
		padding: 0 30px;
	}
	#copyright li {
		padding: 0 1em;
	}
	#main-nav li:last-child,
	#copyright li:last-child{
		border: none;
	}
	#footer ul {
		width: 630px;
		margin: auto;
  		padding: 1em 0;
	}
	table {
		padding-left: 1.5em;
		padding-right: 1.5em;
	}
	.tutorial-nav .left-col,
	.tutorial-nav .right-col {
		float: left;
		width: 50%;
		margin-bottom: 1.3em;
	}
	.tutorial-listing a {
		margin: 0 1.2em 2.4em 1.2em;
	}
	.tutorial-nav .right-col a {
		border-left: none;
	}
	.top-back-link {
		margin-top: 1.6em;
	}
	.top-sponsor-link {
		float: right;
		margin-top: 0em;
		margin-bottom: 0em;
	}
}

@media only screen and (min-width: 910px) {
  body {
	background-color: #e3e3e6;
  }
  #page {
	width: 960px;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
  }
}



/*
"Rich Girls"
Fitz and the Tantrums
*/
